
<div class="container">
        <div class="lead text-info">code:</div> 
        <textarea rows="20" cols="50" ng-model="code">bondy</textarea>
        <br><br>
            <div class="lead text-primary">input:</div>
        <textarea rows="5" cols="20" ng-model="input"></textarea>
        </div>
<br>
<button ng-click="compile()" class="btn btn-primary col-md-1">compile</button>
<button ng-click="run()" class="btn btn-danger col-md-1">run</button>
<br><br><br>

     <p  ng-bind-html="out | unsafe"></p>
